<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Links</h1>

        <form class="ui form" action="/add" method="post">
            {% csrf_token %}
            <div class="field">
                <label>Person</label>
                <input type="text" name="name" placeholder="Enter Person..."><br>
            </div>
            <div class="field">
                <label>Company</label>
                <input type="text" name="company" placeholder="Enter Company..."><br>
            </div>
            <div class="field">
                <label>Notes</label>
                <input type="text" name="notes" placeholder="Enter Notes..."><br>
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </form>

        <hr>

        {% for person in person_list %}
        <div class="ui segment">
            <p class="ui big header">{{ person.id }} | {{ person.name }} | {{ person.company }} </p>
            
            {% if person.notes != "NA" %}
            <p>{{ person.notes }}</p>
            {% endif %}

            <!-- {% if person.company == "NA" %}
            <span class="ui gray label">Not Complete</span>
            {% else %}
            <span class="ui green label"> {{ person.company }} </span>
            {% endif %} -->

            <a class="ui blue button" href="/update/{{ person.id }}">Update</a>
            <a class="ui red button" href="/delete/{{ person.id }}">Delete</a>
        </div>
        {% endfor %}
    </div>
</body>

</html>